<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hukuk Sınavları</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    @*<link href="img/favicon.ico" rel="icon">*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/solartec-1.0.0/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/solartec-1.0.0/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/solartec-1.0.0/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/solartec-1.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/solartec-1.0.0/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>

   @* <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>*@

    <div class="container-fluid bg-dark p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-envelope
text-primary me-2"></small>
                    <small>bilgi@hukuksinavlari.com</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>+90 538 034 10 10</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                            <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" fill="#32C36C" />
                        </svg>
                    </a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="/Home/Index/" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            @* <h2 class="m-0 text-primary">Solartec</h2>*@
            <img src="~/logo/hukuklogo.png" width="230px" height="150px" />
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
               
                <a href="/Home/Index/" class="nav-item nav-link active">Anasayfa</a>
                <a href="#egitim" class="nav-item nav-link">Eğitimler</a>
                <a href="#duyuru" class="nav-item nav-link">Duyurular</a>
                <a href="#iletisim" class="nav-item nav-link">Ön Kayıt</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Hesabım</a>
                        <div class="dropdown-menu bg-light m-0">
                            <a href="/Control/Panel/Index/" class="dropdown-item">Panelim</a>
                            <a href="/Login/Logout/" class="dropdown-item">Çıkış Yap</a>

                        </div>
                    </div>
                }
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <a href="/Login/Index"><span class="button-text">Giriş</span></a>
                </button>

                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <a href="/Register/Index"><span class="button-text">Kaydol</span></a>
                </button>

            }
            


        </div>
    </nav>


    @RenderBody()




    <div class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Adres</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Korkuteli Mahallesi Necetibey Caddesi Balıkçıoğlu İş Merkezi No. 4/119 Sıhhiye/Ankara</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 538 034 10 10</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>bilgi@hukuksinavlari.com</p>
                    <div class="d-flex pt-2">

                        <a class="btn btn-square btn-outline-light btn-social" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" fill="#9B9B9B" />
                            </svg>


                        </a>
                        @* <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>*@
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Keşfet</h5>
                    <a class="btn btn-link" href="">Anasayfa</a>
                    <a class="btn btn-link" href="">Eğitimlerimiz</a>
                    <a class="btn btn-link" href="">Duyuru ve Haberler</a>
                    <a class="btn btn-link" href="">İletişim</a>
                    <a class="btn btn-link" href="">Giriş Yap</a>
                    <a class="btn btn-link" href="">Kaydol</a>
                    <a class="btn btn-link" href="#" data-bs-target="#ziyaretci" data-bs-toggle="modal">Ziyaretçiler</a>
                </div>

                <div class="modal fade" id="ziyaretci" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ziyaretçilerimiz</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @await Component.InvokeAsync("VisiteCount")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <h5 class="text-white mb-4">Galeri</h5>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid rounded" src="~/egitim/egitim.png" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded" src="~/egitim/egitim.png" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded" src="~/egitim/egitim.png" alt="">
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; Tüm hakları saklıdır.
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/solartec-1.0.0/lib/wow/wow.min.js"></script>
    <script src="~/solartec-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/solartec-1.0.0/lib/waypoints/waypoints.min.js"></script>
    <script src="~/solartec-1.0.0/lib/counterup/counterup.min.js"></script>
    <script src="~/solartec-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/solartec-1.0.0/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/solartec-1.0.0/lib/lightbox/js/lightbox.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="~/solartec-1.0.0/js/main.js"></script>
</body>

</html>